html{
  overflow-x: hidden;
}
body{
  background-color: $main-bodybackground!important;
  font-family: $fontfamilyprimary!important;
  font-size: $fontsize-3;
  font-weight: 400;
  font-style: normal;
   overflow-x: hidden;
  &.readyContent{
    & .appearRightOnInit{
      opacity: 1;
      @include transform(translateZ(0));
    }
    & #professionalSkills{
      & .progress-bar{
        opacity: 1;
        @include transform(translateZ(0) scale(1));
      }
    }
    & #languageSelector{
      z-index: 1;
      opacity: 1;
      @include transform(scale(1));
    }
  }
}
header{
  color: $header-textcolor;
  height: 65px;
  & #headerContainer{
    height: 65px;
    position: fixed;
    background: $header-bodybackground;
    max-width: 1028px;
    z-index: 3;
    border-bottom: 1px solid $header-bordercolor;
    width: 100%;
    @include smoothshadow(!important);
    & .offsetScrollNav{
      cursor: pointer;
      background-color: transparent;
      @include transition(background 0.25s ease-in-out, color 0.25s ease-in-out);
      &.activeOffset{
        color: $header-activeoffset;
        font-weight: 500;
        cursor: not-allowed;
      }
      &:hover{
        background-color: $header-hoveroffset;
        color: $header-activeoffset;
      }
    }
    #iconHamburgerContainer{
      display: inline-block;
      width: 20px;
      text-align: center;
      cursor: pointer;
    }
    &::before{
      content: "";
      width: 75px;
      height: 100%;
      position: absolute;
      top: -17px;
      left: -30px;
      background-color: $header-bodybackground;
      @include transform(rotate(58deg));
      overflow: hidden;
      border-bottom: 1px solid $header-bordercolor;
      z-index: -1;
    }
    &::after{
      content: "";
      width: 75px;
      height: 100%;
      position: absolute;
      top: -17px;
      right: -30px;
      background-color: $header-bodybackground;
      @include transform(rotate(-58deg));
      overflow: hidden;
      border-bottom: 1px solid $header-bordercolor;
      z-index: -1;
      -webkit-box-shadow: 5px 3px 6px -1px $main-shadow;
      -moz-box-shadow: 5px 3px 6px -1px $main-shadow;
      box-shadow: 5px 3px 6px -1px $main-shadow;
    }
  }
}
.containerCv{
  position: relative;
  @include borderradius(10px);
  @include smoothshadow(!important);
  &>div{
    &:last-child{
      @include borderradius(10px);
    }
  }
  & #headerCv,
  & #headerCvResponsive{
    background-color: $cv-topheaderbackground;
    @include borderradius(10px 10px 0 0);
  }
  & #headerCv{
    height: 250px;
  }
  & #headerCvResponsive{
    height: 550px;
  }
  & #headerTopInfo{
    position: absolute;
    top: 65px;
    & #avatar_image{
      border: 5px solid $cv-avatarborder;
      @include borderradius(2px);
      @include smoothshadow(!important);
    }
    & #topInformation{
      & #name,
      & #skills{
        color: $cv-topinfotext;
        text-shadow: 1px 1px 2px $cv-topinfotextshadow;
      }
      & #action_buttons{
        & button{
          @include transition(transform .25s ease-in-out!important);
          &:hover{
            @include transform(translateY(-3px));
          }
        }
      }
    }
  }
  & #professionalSkills{
    font-size: $fontsize-2;
    & .progress-bar{
      opacity: 0;
      @include transform(translate3d(-100px,0,0) scale(.6));
      @include transition(opacity 1s,transform 1s);
    }
  }
  & .timeline{
    & .timeline-linecontainer{
      & .timeline-company{
        text-align: center;
        margin: 0 auto;
        & .timeline-companyName,
        & .timeline-companyDates{
          margin: 0;
          width: auto;
          display: block;
        }
        & .timeline-companyBorder{
          padding-top: 5px;
          border-bottom: 2px solid $timeline-borders;
          width: 100px;
          margin: 0 auto;
        }
      }
      & .timeline-linesummary{
        border-left: 1px solid $timeline-borders;
        padding-top: 10px;
        margin-top: 10px;
        position: relative;
        &::before{
          content: "";
          display: block;
          position: absolute;
          left: -10px;
          top: -1px;
          height: 1px;
          width: 20px;
          background-color: $timeline-borders;
        }
        &::after{
          content: "";
          display: block;
          position: absolute;
          left: -10px;
          bottom: -1px;
          height: 1px;
          width: 20px;
          background-color: $timeline-borders;
        }
        & .timeline-linecontent{
          margin: 15px 0 15px 40px;
          position: relative;
          @include borderradius(4px);
          border: 1px solid $timeline-borders;
          &::before{
            content: "";
            position: absolute;
            background-color: $main-window;
            width: 12px;
            height: 12px;
            top: 20px;
            left: -48px;
            border: 2px solid;
            @include borderradius(10px);
          }
          &::after{
            content: "";
            position: absolute;
            height: 2px;
            width: 36px;
            top: 25px;
            left: -36px;
          }
        }
      }
    }
    &.timelineworkcontainer{
      & .timeline-linecontainer{
        & .timeline-linesummary{
          & .timeline-linecontent{
            border-left: 2px solid $timeline-borderworker;
            &::before{
              border-color: $timeline-borderworker;
            }
            &::after{
              background-color: $timeline-borderworker;
            }
          }

        }

      }

    }
    &.timelineeducationcontainer{
      & .timeline-linecontainer{
        & .timeline-linesummary{
          & .timeline-linecontent{
            border-left: 2px solid $timeline-bordereducation;
            &::before{
              border-color: $timeline-bordereducation;
            }
            &::after{
              background-color: $timeline-bordereducation;
            }
          }

        }

      }
    }
  }
  & #contactForm{
    @include borderradius(10px);
    & #inputMessage{
      height: 100px;
      resize: none;
    }
  }
}
.mainSectionText{
  color: $cv-mainsectiontext;
  & i{
    position: relative;
    top: -2px;
  }
}

#languageSelector{
  opacity: 0;
  display: block;
  position: fixed;
  right: 10px;
  bottom: 100px;
  width: 70%;
  max-width: 400px;
  @include borderradius(10px);
  @include transition(opacity 1s,transform 1s);
  @include transform(scale(.6));
}

.scroll-up{
  position: fixed;
  right: 10px;
  bottom: -20%;
  opacity: 0.8;
  padding: 15px 10px;
  @include borderradius(2px);
  z-index: 1;
  @include transition(0.4s!important);
  &.showbutton{
    bottom: 25px;
  }
}
#background-fallback-block{
  position: fixed !important;
  z-index: 2;
  height: 100vh;
  right: 0;
  top: 0;
  width: 100vw;
  background-color: #000;
  opacity: 0;
  pointer-events: none;
  @include transition(opacity 0.15s)
}
footer{
  height: 200px;
  position: relative;
  z-index: 0;
  &::before{
    content: "";
    max-width: 330px;
    width: 100%;
    background-color: $footer-borderseparator;
    height: 2px;
    position: absolute;
    top: 0;
    z-index: -1;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}