/* Aquí irá el css que se vaya a reutilizar o sean clases globales */

/* Clases par acontenedores */
.sancho-container{
  max-width: $size-container;
  margin: 0 auto;
}
.vertical-middle{
  vertical-align: middle;
}

/* Clases para textos */
.primarytextsize{
  font-size: $fontsize-4!important;
}
.secondarytextsize{
  font-size: $fontsize-3!important;
}
.smalltextsize{
  font-size: $fontsize-2!important;
}
.smallesttextsize{
  font-size: $fontsize-1!important;
}
.fontsize0{
  font-size: 0;
}
.mainLink{
  color: $main-linksdefaulttext;
  text-transform: unset;
  text-decoration: unset!important;
  @include transition(color 0.5s);
  &:hover,
  &:focus{
    color: $main-linkshovertext;
  }
  &:hover,
  &:focus,
  &:visited{
    text-transform: unset;
    text-decoration: unset!important;
  }
}
.text-justify{
  text-align: justify;
}
.word-break-all{
  word-break: break-all;
}
.font-bold{
  font-weight: 600;
}
.overflow-ellipsis{
  text-overflow: ellipsis;
  overflow: hidden;
}

/* Clases para efectos */
.translateUp-effect{
  @include transition(transform .25s ease-in-out!important);
  @include transform(translateY(0));
  &:hover{
    @include transform(translateY(-3px));
  }
}
.appearRightOnInit{
  opacity: 0;
  @include transform(translate3d(100px,0,0));
  @include transition(opacity ease 1s, transform ease 1s);
}
@for $i from 1 through 15 {
  [data-delay='#{$i}']{
     transition-delay: #{$i/10}s!important;
     -webkit-transition-delay: #{$i/10}s!important;
     -mox-transition-delay: #{$i/10}s!important;
     -ms-transition-delay: #{$i/10}s!important;
     -o-transition-delay: #{$i/10}s!important;
    /* transition-delay: #{$i}s!important;
     -webkit-transition-delay: #{$i}s!important;
     -mox-transition-delay: #{$i}s!important;
     -ms-transition-delay: #{$i}s!important;
     -o-transition-delay: #{$i}s!important;*/
  }
}
.moveUp-effect{

}

/* Clases que aplican colores o estilos */
.rearShadow{
  @include smoothshadow(!important);
  &:focus,
  &:active,
  &:visited,
  &:target{
    @include smoothshadow(!important);
  }
}
.window-background{
  background-color: $main-window;
}
.progressBlue{
  background-color: $cv-progressblue!important;
}
.progressGreen{
  background-color: $cv-progressgreen!important;
}
.cursor-pointer{
  cursor: pointer;
}