<div class="flex items-center h-full gap-3">
  <div 
    class="relative flex items-center justify-center"
    (mouseenter)="!cable.isDragging() && isHoveringSocket.set(true)"
    (mouseleave)="isHoveringSocket.set(false)"
  >
    <app-electric-socket #socket [isDragging]="cable.isDragging()" (connected)="onConnected($event)"></app-electric-socket>
    
    <app-tooltip 
      [text]="i18n.t('theme.plug.tooltip.light')" 
      [animated]="true"
      [show]="isHoveringSocket() && !cable.isDragging() && !cable.isConnected()"
    ></app-tooltip>
  </div>
  <app-electric-cable #cable [socket]="socketComponent()"></app-electric-cable>
</div>
