//Colores principales
$main-bodybackground: #F5F7FA;
$main-linksdefaulttext: #434A54;
$main-linkshovertext: #000000;
$main-shadow: #707070;
$main-window: #FFFFFF;
$main-buttonsuccess: #37BC9B;
$main-buttonsuccesshover: #2FA084;

//Colores header
$header-bodybackground: #F5F7FA;
$header-textcolor: #434A54;

//Colores CV
$cv-topheaderbackground: #68A3F0;
$cv-avatarborder: #345178;
$cv-topinfotext: #FFFFFF;
$cv-topinfotextshadow: #000000;
$cv-mainsectiontext: #434A54;
$cv-progressblue: #4a89dc;
$cv-progressgreen: #37bc9b;

//Colores timeline
$timeline-borders: #D2D2D2;
$timeline-borderworker: #4A89DC;
