@font-face {
  font-family: "Fredoka";
  src: url("../fonts/Fredoka.ttf") format("truetype");
}


$fontfamilyprimary: "Fredoka";

//Tamaños de fuente predeterminados
$fontsize-1: 16px;
$fontsize-2: 18px;
$fontsize-3: 20px;
$fontsize-4: 28px;
$fontsize-5: 40px;